<html>
   <head>
      <title>SMS BULK</title>
      <link rel="stylesheet" href="/styles/salesforce-lightning-design-system.min.css">
      <link rel="stylesheet" href="/styles/custom.css">
      <script src="javascript/libs/jquery.min.js"></script><script src="javascript/libs/jquery.validate.min.js"></script><script src="javascript/libs/postmonger.js"></script><script src="javascript/customActivity.js"></script>
   </head>
   <body>
      <article class="slds-card">
         <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
               <div class="slds-media__figure">
                  <span class="slds-icon_container slds-icon-standard-contact" title="contact">
                     <svg class="slds-icon slds-icon_small" aria-hidden="true">
                        <use xlink:href="/icons/standard-sprite/svg/symbols.svg#sms"></use>
                     </svg>
                     <span class="slds-assistive-text">contact</span>
                  </span>
               </div>
               <div class="slds-media__body">
                  <h2 class="slds-card__header-title"><a class="slds-card__header-link slds-truncate" href="javascript:void(0);" title="Card Header"><span>Custom Activity</span></a></h2>
               </div>
            </header>
         </div>
         <div class="slds-card__body slds-card__body_inner">
            <form class="js-settings-form" novalidate="novalidate">
               <div class="slds-form-element">
                  <label class="slds-form-element__label" for="DropdownOptions">Type</label>
                  <div class="slds-form-element__control">
                     <div class="slds-select_container">
                        <select class="slds-select js-activity-setting" id="DropdownOptions" name="dropdownOptions">
                           <option value="journeyEntry">Journey Entry</option>
                           <option value="journeyExit">Journey Exit</option>
                        </select>
                     </div>
                  </div>
                  <label class="slds-form-element__label slds-p-top_medium" for="Text"><abbr class="slds-required" title="required"></abbr>Text Message *</label>
                  <div class="slds-form-element__control"><input class="slds-input js-activity-setting" id="Text" required="" placeholder="" name="text"></div>
                  <!--label class="slds-form-element__label slds-p-top_medium" for="Sender"><abbr class="slds-required" title="required"></abbr>Sender</label>
                  <div class="slds-form-element__control"><input class="slds-input js-activity-setting" id="Sender" required="" placeholder="" name="Sender"></div-->
                  <label class="slds-form-element__label slds-p-top_medium" for="FlagURLShortner"><abbr class="slds-required" title="required"></abbr>Flag URL Shortner</label>
                  <div class="slds-form-element__control"><input class="slds-input js-activity-setting" type="checkbox" id="scales" name="Flag URL Shortner" id="FlagURLShortner"></div>
               </div>
            </form>
         </div>
         <footer class="slds-card__footer"></footer>
      </article>
   </body>
</html>
